{% load static %}
{% load task_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:"Без заголовка"|capfirst }}</title>
    <link type="text/css" href="{% static 'timemanager/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
{% getcats as categories %}

<!-- <li class="selected">Все категории</li>
{% for cat in categories %}
<li><a href="#">{{cat.name}}</a></li>
{% endfor %} -->
<ul>
    <li><a href="{% url 'home' %}">Главная страница</a></li>
    {% for m in menu %}
    {% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
        <a href="{% url m.url_name %}">{{ m.title }}</a>
    </li>
    {% endfor %}
</ul>
{% block content %} {% endblock %}
</body>
</html>